In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data.csv')

In [3]:
data.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00

In [4]:
data=data.drop(columns=['Weapon Used','Case Closed','Date Case Closed'],axis=1)

In [5]:
data.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Crime Domain,Police Deployed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Violent Crime,13
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Other Crime,9
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Other Crime,15
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Other Crime,1
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other Crime,18

In [6]:
data=data.drop(columns=['Police Deployed'],axis=1)

In [7]:
data.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Crime Domain
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Violent Crime
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Other Crime
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Other Crime
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Other Crime
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other Crime

In [8]:
data['Crime Domain'].value_counts()

Crime Domain
Other Crime         22948
Violent Crime       11472
Fire Accident        3825
Traffic Fatality     1915
Name: count, dtype: int64

In [10]:
import datetime as dt

In [12]:
data=data.drop(columns=['Date of Occurrence','Date Reported'],axis=1)

In [13]:
data.head()

,Report Number,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Crime Domain
0,1,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Violent Crime
1,2,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Other Crime
2,3,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Other Crime
3,4,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Other Crime
4,5,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other Crime

In [14]:
data['City'].value_counts()

City
Delhi            5400
Mumbai           4415
Bangalore        3588
Hyderabad        2881
Kolkata          2518
Chennai          2493
Pune             2212
Ahmedabad        1817
Jaipur           1479
Lucknow          1456
Kanpur           1112
Surat            1111
Nagpur           1053
Agra              764
Ludhiana          761
Visakhapatnam     728
Thane             706
Ghaziabad         704
Indore            699
Patna             695
Bhopal            690
Meerut            395
Srinagar          371
Nashik            366
Vasai             362
Varanasi          355
Kalyan            355
Faridabad         354
Rajkot            320
Name: count, dtype: int64

In [15]:
data.describe()

       Report Number    Crime Code   Victim Age
count   40160.000000  40160.000000  40160.00000
mean    20080.500000    349.360259     44.49126
std     11593.337742    144.169205     20.22555
min         1.000000    100.000000     10.00000
25%     10040.750000    225.000000     27.00000
50%     20080.500000    349.000000     44.00000
75%     30120.250000    474.000000     62.00000
max     40160.000000    599.000000     79.00000

In [16]:
city_coords = {
    "Delhi": (28.7041, 77.1025),
    "Mumbai": (19.0760, 72.8777),
    "Bangalore": (12.9716, 77.5946),
    "Hyderabad": (17.3850, 78.4867),
    "Kolkata": (22.5726, 88.3639),
    "Chennai": (13.0827, 80.2707),
    "Pune": (18.5204, 73.8567),
    "Ahmedabad": (23.0225, 72.5714),
    "Jaipur": (26.9124, 75.7873),
    "Lucknow": (26.8467, 80.9462),
    "Kanpur": (26.4499, 80.3319),
    "Surat": (21.1702, 72.8311),
    "Nagpur": (21.1458, 79.0882),
    "Agra": (27.1767, 78.0081),
    "Ludhiana": (30.9000, 75.8573),
    "Visakhapatnam": (17.6868, 83.2185),
    "Thane": (19.2183, 72.9781),
    "Ghaziabad": (28.6692, 77.4538),
    "Indore": (22.7196, 75.8577),
    "Patna": (25.5941, 85.1376),
    "Bhopal": (23.2599, 77.4126),
    "Meerut": (28.9845, 77.7064),
    "Srinagar": (34.0837, 74.7973),
    "Nashik": (19.9975, 73.7898),
    "Vasai": (19.3919, 72.8397),
    "Varanasi": (25.3176, 82.9739),
    "Kalyan": (19.2437, 73.1355),
    "Faridabad": (28.4089, 77.3178),
    "Rajkot": (22.3039, 70.8022)
}

In [17]:
data['lat'] = data['City'].map(lambda x: city_coords.get(x, (None, None))[0])
data['lon'] = data['City'].map(lambda x: city_coords.get(x, (None, None))[1])

In [19]:
city_counts = data['City'].value_counts().reset_index()
city_counts.columns = ['City', 'Count']

In [20]:
city_counts['lat'] = city_counts['City'].map(lambda x: city_coords[x][0])
city_counts['lon'] = city_counts['City'].map(lambda x: city_coords[x][1])

In [21]:
heat_data = city_counts[['lat', 'lon', 'Count']].values.tolist()

In [22]:
import folium
from folium.plugins import HeatMap

m = folium.Map(location=[23.0, 80.0], zoom_start=5)

HeatMap(heat_data, radius=25, blur=20).add_to(m)

m